*
!*/
!*.*

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/

dist/*

*.exe

*.iml

*.kdev4
.kdev/

*.parevents


.idea/

*.eventlog

*.log
*.synctex.gz
*.toc
*.out

*.bbl
*.blg
*.nav
*.snm
*.dpth
*.auxlock
paper/main-figure0.md5
